@model EscapeRoomMVC.Models.EscapeRoom

@{
    ViewData["Title"] = "Детали квест-комнаты";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>@Model.Name</h3>
    <p><strong>Описание:</strong> @Model.Description</p>
    <p><strong>Время прохождения:</strong> @Model.Duration minutes</p>
    <p><strong>Мин. количество игроков:</strong> @Model.MinPlayers</p>
    <p><strong>Макс. количество игроков:</strong> @Model.MaxPlayers</p>
    <p><strong>Мин. возраст игроков:</strong> @Model.MinAge</p>
    <p><strong>Адрес:</strong> @Model.Address</p>
    <p><strong>Телефон:</strong> @Model.PhoneNumber</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Компания:</strong> @Model.Company</p>
    <p><strong>Рейтинг:</strong> @Model.Rating</p>
    <p><strong>Уровень страха:</strong> @Model.FearLevel</p>
    <p><strong>Уровень сложности:</strong> @Model.DifficultyLevel</p>
    <img src="@Model.Logo" alt="Логотип" />
</div>