@model EscapeRoomMVC.Models.EscapeRoom

@{
    ViewData["Title"] = Model.Name; 
}

<h2>Детали квест-кімнати</h2>

<escape-room-card escape-room="Model"></escape-room-card>

<div>
    <h4>Дополнительная информация</h4>
    <p><strong>Адрес:</strong> @Model.Address</p>
    <p><strong>Номер телефона:</strong> @Model.PhoneNumber</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Компания:</strong> @Model.Company</p>
    <p><strong>Рейтинг:</strong> @Model.Rating</p>
</div>

<a asp-action="Index" class="btn btn-primary">Назад к списку</a>